nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary);
  padding: 1.4rem 7%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.active {
  background: transparent;
}
nav img {
  width: 15rem;
}
nav ul {
  display: flex;
  gap: 5rem;
  font-size: 1.5rem;
}
nav ul li a {
  font-weight: 500;
  color: var(--text);
}
nav ul li a::after {
  content: '';
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--text);
  transform: scaleX(0);
  transition: 0.2s linear;
}
nav ul li a:hover::after {
  transform: scaleX(0.5);
}
